.BasicSection {
    display: flex;
    justify-content: space-between;
}
.BasicArticle {
    width: 30svw;
}

ul {
    width: 20svw;
    border: 1px black solid;
    border-radius: 10px;
    padding: 2rem;
    box-sizing: border-box;
}
li{
    width: fit-content;
}